@font-face {
  font-family: "poppins";
  src: url("./Components/Layout/fonts/Poppins/Poppins-Light.ttf");
}

body{
  margin: 0;
}

.App {
  text-align: center;
  
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.3em;
}

.header Footer{
  visibility: collapse;
  display: none;
}

.field {
  font-family: "poppins", "sans-serif";
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, #010033, #00d9ff);
  background-size: 400% 400%;
}

.googleNav{
  visibility: collapse;
  display: none
}

@media (min-width: 350px){
  .header {
    padding: 0em 1em 0em
  }
}

@media (min-width: 1200px){
  .header{
    position: relative
  }

  .googleNav{
    visibility: visible;
    position: absolute;
    display: block;
    right: 1em;
  }

  .field footer{
    visibility: collapse;
    display: none;
  }
}